<html>
	<head>
		<title>
			Welcome to CatLocker
		</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<div class="page-header">
			<h1 style="text-align:center"><a href="/home">CatLocker</a> <small>A Safe Place To Store Your Cats</small></h1>
		</div>
	</head>
	<style>
		IMG.displayed {
			display: block;
			margin-left: auto;
			margin-right: auto
		}
		.vertical {
			border-left: thick solid #ff0000;
		}
	</style>
	<body>
		<img class="displayed" src={{$}} alt="Caged"/>
		<p >
		<div class="actions" style="text-align:center;font-size:20px">
			<a href="/login">Login</a>
				| <a href="/home">My Cats</a>
			</div>
		</p>
	</body>
</html>

