<html>
	<head>
		<title>
			CatLocker Home
		</title>
		<script type="text/javascript">
			window.onload = function() { 
				//Get submit button
				var submitbutton = document.getElementById("tfq");
				//Add listener to submit button
				if(submitbutton.addEventListener) {
					submitbutton.addEventListener("click", function() {
							if (submitbutton.value == 'Search for Friends'){//Customize this text string to whatever you want
							submitbutton.value = '';
							}
							});
				}
			}
		</script>

		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<div class="page-header">
			<h1 style="text-align:center"><a href="/home">CatLocker</a> <small>A Safe Place To Store Your Cats</small></h1>
		</div>
	</head>
	<body>
		<div id="search">
			<form id="search" method="post" action="/search">
				<input type="text" id="query" name="query" size="21" maxlength="120" value="Search for Friends">
				<input type="submit" value="Search">
			</form>
		</div>
		<p style="font-size:30px">
		{{if .Images}}Here are {{.Username}}'s kitties:{{end}}
		</p>
		<p>
		<div id="kitties" >
			{{if .Images}}{{range .Images}}{{if .}}<img src="{{.}}" alt="Kitty" width=400>{{end}}{{end}}{{end}}
		</div>
		</p>

		<form role="form" id="uploadbanner" enctype="multipart/form-data" method="post" action="/upload">
				<input id="fileupload" name="files" type="file" multiple="multiple"/>
				<input type="submit" value="Upload Cat" id="submit" />
		</form>
	</body>
</html>
